@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
:root{
    --primary:#00000;
    --light:#ffff;
    --text:#D7D8C9;
    --text1:#31D2F2;
    --dark:#0000;

}
*{
    -webkit-font-smoothing: antialiased;
      font-family:Montserrat,sans-serif;
    
}
#header{
    background-color: #3D3D3D;
}
.logo{
    padding:0;
    margin:0;
    width: 40px;
    height:40px;
}
a{
    text-decoration: none;
   
    font-size:0.8rem;
}
#list a:hover,#list a:active{
    color:var(--text1);
}

a .nav-link {
    font-size:0.5rem;
}

#smalldropdown{
    background:#3D3D3D;
    color:#0000;
    text-align:center;
}

.dropdown-menu{
    background-color: transparent;
    color:#0000;
}

#section{
    margin:40px auto;
    
}
#section1{
    margin-bottom:40px;
}
.font-bold{
    font-weight: bold;
}
.btn{
    border-radius: 0;
}
#list a{
    color:var(--light);
}
.image1{
   
background: url("../Images/certificate.jpg") no-repeat;
background-size:cover;
}
.text1{
    font-size:0.8rem;
    color:var(--text1);
}

.text11,.subheading{
    font-size:1.1rem;
    font-weight:700;

}
.font-italic{
    font-weight:bolder;
}
#text22{
    font-size: 0.7rem;
}


.text33{
    font-size:1.3rem;
    font-weight:700;

}
#github a{
    font-size:1.5rem ;
}
 a .fa .fa-github:hover{
    color:var(--text1);
}
.subheading{
    font-size:1.0rem;
    font-weight:700;
}
#section2{
    margin-top:15px;
    background-color: #3D3D3D;
    margin-bottom:30px;
}

.text44{
    font-size:0.7rem;
}
.smallimg{
    border-radius:50%;
}

  
  .footer{
    background-color: #3D3D3D; 
    color:var(--light);
  }
  .list-unstyled .text44 a{
      color:var(--light);
      font-size:0.7rem;
  }
  .icons .fa{
      font-size:1.5rem;
      
      
      color:var(--light);
  }
  .icons .fa:hover{
    
    color:var(--text1);

}

  .madeby{
      color:var(--text1);
  }
  .icons{
      margin-top:0;
  }
  .navbar-toggler{
    background-color:rgba(255,255,255,0.5);
    
}

 div .card{
    background-color:rgba(255,255,255,0.5);
 }
.btn{
    font-size: 0.7rem;
}
.card-body a .btn{
    font-size: 0.7rem;
}
@media (max-width:767px){
    .navbar-nav{
       
            background-color:rgba(255,255,255,0.5);
            border-top-left-radius: 15px;
            border-bottom-right-radius: 15px;
        
    }
}
@media (max-width:991px)
{ 
  .card-img-top .one{
    height:349px;
  }
}
  @media (max-width:760px){

   
    .aboutme{
        margin-top:0;
    }
    #section{
        margin-top:0;
    }
  }
 @media(max-width:575px)
  {
     
  
   #footone,#foottwo{
        text-align:center;
    }

}
  @media (max-width:290px)
  {
      
      .navbar-brand{
        font-size:1rem;
    }
  }
@media (max-width:262px){
    .logo{
        width:20px;
        height:20px;
    }
    .navbar-brand{
        font-size:1rem;
    }
    .navbar-toggler-icon {

        width:1rem;
        height:1rem;
        color:var(--light);
}
}
@media (max-width:210px){
    .navbar-brand{
        display:none;
    }
    
    }
  
